/*
	Original file copyright 2009-2015, Jan-Philip Gehrcke (http://gehrcke.de)
	Changes 🄯 2024, Terence Eden (https://shkspr.mobi/blog)

	To create your own style:
	* Copy this file (wp-geshi-highlight.css)
	* Save it in your theme's directory
	* Make changes to it

	The plugin defaults to your modified file.
	
	This CSS attempts to create a basic yet accessible style for highlighted code.
*/

.wp-geshi-highlight pre {
	color: #444;
	overflow: visible;
	margin: 0;
	padding: .75em;
	border: none;
	box-shadow: none;
	background: none;
	font-size: .9em;
	line-height: 1.25em;
	font-family: Consolas, Monaco, 'Lucida Console', monospace;
	word-wrap: normal; /* Otherwise Chrome wraps lines */
	white-space: pre;
	font-weight: normal;
}

.wp-geshi-highlight {
	padding: 0;
	margin: 0;
	overflow-x: auto;
	border: none;
	background-color: #fff;
}